{% extends "base.html" %}
{% block title %}WebHook{% endblock %}
{% block body %}
    <div class="container">
        <div class="hook-container grid-item">
            <form method="post" id="generate_hook">
                <input type="submit" class="btn btn-primary" value="Generate" name="generate"/><br/>
            </form><br>
            {% if data %}
                <table class="table table-striped table-dark">
                    <th>Hook</th>
                    <th>Token</th>
                    <tr>
                        <td><h4><a href="{{ data.get('hook') }}">{{ data.get('hook') }}</a></h4></td>
                        <td><h4><a href="{{ data.get('hook') }}/{{ data.get('token') }}">{{ data.get('hook') }}/{{ data.get('token') }}</a></h4></td>
                    </tr>
                </table>
            {% endif %}
        </div>
        <div class="db-info-container grid-item">
            {% if db_rows %}
                <p>DB has {{ db_rows }} / {{ QUERIES }} hooks</p>
                {% if db_rows==QUERIES %}
                <p style="color: red">DB is full! the oldest hook would be deleted!</p>
                {% endif %}
            {% endif %}
            <form method="post" id="clear_db">
                <input type="password" class="bg-dark text-white" autocomplete="one-time-code" placeholder="Token" name="clear_token"/>
                <input type="submit" class="btn btn-primary" value="Clear database" name="clear_database"/>
            </form>
        </div>
        <div class="db-details grid-item">
            <form method="post" id="database_details">
                <input type="password" class="bg-dark text-white" autocomplete="one-time-code" placeholder="Token" name="admin_token"/>
                <input type="submit" class="btn btn-primary" value="Show database" name="show_database"/>
            </form>
        </div>
    </div>
{% endblock %}
