{% extends "layout.html" %}
{% block title %}WebHook{% endblock %}
{% block head %}
    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        body a {
            color: rgb(0, 103, 221);
            text-decoration: none;
        }

        .container {
            display: inline-flex;
            margin: 1rem;
            padding-left: 1rem;
            justify-content: space-between;
        }

        .hook-container {
            display: flex;
            flex-direction: column;
        }

        .db-info-container {
            display: flex;
            color: blue;
            flex-direction: column;
            align-items: flex-end;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="hook-container">
            {% if data %}
                <div class="hook">
                    <h4>Hook: <a href="{{ data.get('hook') }}">{{ data.get('hook') }}</a></h4>
                </div><br>
                <div class="hook-token">
                    <h4>Token: <a href="{{ data.get('hook') }}/{{ data.get('token') }}">{{ data.get('hook') }}/{{ data.get('token') }}</a></h4>
                </div><br>
            {% endif %}
        </div>
        <div class="db-info-container">
            {% if db_rows %}
                <p>DB has {{ db_rows }} / {{ QUERIES }} hooks</p>
                {% if db_rows==QUERIES %}
                <p style="color: red">DB is full! the oldest hook would be deleted!</p>
                {% endif %}
            {% endif %}
            <form method="post" id="clear_db">
                <input type="password" autocomplete="one-time-code" placeholder="Token" name="clear_token"/>
                <input type="submit" value="Clear database" name="clear_database"/>
            </form>
        </div>
    </div>
{% endblock %}
