<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=960, initial-scale=1.0">
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        table, tr
        { 
            margin-left: auto;
            margin-right: auto;
        }
        table, th, td {
            border:1px solid black;
        }
    </style>
    <title>Seeker</title>
</head>
<body>
    {% if data %}
        <table>
            <tr>
                {% for key in data[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
            {% for req in data %}
                <tr>
                    {% for key, value in req.items() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>